{{>html-header}}
	<div class="page-content">

		<form action="" class="form-search" method="get">
		
			<div class="row">
				<label for="typ" class="left">Fahrzeugtyp</label>
				<select name="typ" id="typ">
					<option value="">PKW</option>
					<option value="">Motorrad</option>
					<option value="">Offroad</option>
					<option value="">LKW</option>
					<option value="">LLKW</option>
				</select>
			</div>
		
			<div class="row">
				<label for="weather" class="left">Reifentyp</label>
				<select name="weather" id="weather">
					<option value="">Winterreifen</option>
					<option value="">Sommerreifen</option>
					<option value="">Ganzjahresreifen</option>
					<option value="">Goodride</option>
				</select>
			</div>
		
			<div class="row">
				<label for="hersteller" class="left">Hersteller</label>
				<select name="hersteller" id="hersteller">
					<option value="">Bridgestone</option>
					<option value="">Ceat</option>
					<option value="">Yokohama</option>
					<option value="">Goodride</option>
				</select>
			</div>
		
			<div class="row">
				<label for="speed" class="left">Geschwindigkeit</label>
				<select name="speed" id="speed">
					<option value="">86</option>
					<option value="">100</option>
					<option value="">120</option>
					<option value="">300</option>
				</select>
			</div>
		
			<div class="row row-reifen-nummern">
				<div class="col-md-04">
					<label for="breite">Breite</label>
					<select name="breite" id="breite">
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select>
				</div>
				<div class="col-md-04">
					<label for="hoehe">Höhe</label>
					<select name="hoehe" id="hoehe">
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select>
				</div>
				<div class="col-md-04">
					<label for="zoll">Zoll</label>
					<select name="zoll" id="zoll">
						<option value="2.25">2.25</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select>
				</div>
			</div>
			
			<div class="row">
				<input type="submit" value="Reifen suchen">	
			</div>
		
		</form>
		
		
		
		<div class="result-list">
		
		
			<!--div class="item">
		
				<div class="row">
					
					<div class="left col-md-03">
						<div class="tire-wrapper">
							<img src="img/tire.png" alt="tire">
						</div>
					</div>
		
					<div class="center col-md-05">
						<span class="type">PKW-Winterreifen</span>
						<span class="name"><b>Bridgestone</b> Blizzak LM-32</span>
						<span class="nubmers">195/65 R15 91T</span>
					</div>
		
					<div class="right col-md-04">
						<div class="row">
							<span class="price">79.99 €</span>
						</div>
						<div class="row">
							<div class="col-md-06">
								<label for="menge">Menge</label>
								<input type="number" class="menge" name="menge" min="0" max="100">
							</div>
							<div class="col-md-06">
								<button class="in-basket">Warenkorb</button>
							</div>
						</div>
					</div>
		
				</div>
		
			</div-->
		
		
		</div>
		
	</div>
{{>html-footer}}