* {
	box-sizing: border-box;
}

@import "susy";

$susy: (
	columns: 12,
	gutters: .4,
	global-box-sizing: border-box
);

body {
	overflow-y: scroll;
	font: 16px/1.6em 'Open Sans', sans-serif;
	color: #222;
	margin: 0;
}

nav {
	display: block;
}

label {
	font-size: 0.9em;
	color: #888;
}

.error {
	color: gray;
}

.row {
	@include clearfix;

	@include breakpoint(tablet) {

		.col-md-01 {
			@include span(1);
			&:last-child {
				@include span(1 last);
			}
		}

		.col-md-02 {
			@include span(2);
			&:last-child {
				@include span(2 last);
			}
		}

		.col-md-03 {
			@include span(3);
			&:last-child {
				@include span(3 last);
			}
		}

		.col-md-04 {
			@include span(4);
			&:last-child {
				@include span(4 last);
			}
		}

		.col-md-05 {
			@include span(5);
			&:last-child {
				@include span(5 last);
			}
		}

		.col-md-06 {
			@include span(6);
			&:last-child {
				@include span(6 last);
			}
		}

		.col-md-07 {
			@include span(7);
			&:last-child {
				@include span(7 last);
			}
		}

		.col-md-08 {
			@include span(8);
			&:last-child {
				@include span(8 last);
			}
		}

		.col-md-09 {
			@include span(9);
			&:last-child {
				@include span(9 last);
			}
		}

		.col-md-10 {
			@include span(10);
			&:last-child {
				@include span(10 last);
			}
		}

		.col-md-11 {
			@include span(11);
			&:last-child {
				@include span(11 last);
			}
		}

		.col-md-12 {
			@include span(12);
			&:last-child {
				@include span(12 last);
			}
		}
	}

}

form.form-search {

	max-width: 800px;
	margin: 20px auto;
	padding: 25px;
	border: 1px solid #eee;

	@include breakpoint(tablet) {
		background: url("../img/legend.jpg") no-repeat top right;
	}

	label {
		width: 130px;
  		display: inline-block;
  		float: left;
	}

	select {
  		display: block;
  		padding: 5px;
  		height: 40px;
  		width: 100%;
  		margin: 0 0 10px;
  		@include breakpoint(tablet) {
			width: auto;
		}
	}

	input[type="submit"] {
		cursor: pointer;
		font-weight: bold;
		font-size: 1.1em;
		background: #ff8503;
		color: #fff;
		border: 0 none;
		padding: 12px 20px;
		margin: 25px 0 0;
		display: block;
		width: 100%;
		@include breakpoint(tablet) {
			max-width: 220px;
		}
		&:hover {
			background: #ff992c;
		}
	}

	.col-md-04 {
		label {
			display: block;
			width: auto;
			float: none;
		}
	}

	.row-reifen-nummern {
		select {
  			width: 100%;
		}
		@include breakpoint(tablet) {
			max-width: 380px;
		}
	}

}

.result-list {
	max-width: 800px;
	margin: 20px auto;
	padding: 25px;
	border: 1px solid #eee;
	
	.item {
		@include clearfix;

  		margin: 10px 0;
  		padding: 10px 0 20px;
  		border-bottom: 1px solid #eee;
		/*
  		&:first-child {
  			display: none;
  		}
  		*/
  		&:last-child {
  			border-bottom: 0 none;
  		}

  		.left {
  			.tire-wrapper {
  				img {
  					width: 100%;
  					max-width: 200px;
  					@include breakpoint(tablet) {
						max-width: 140px;
					}
  				}
  			}
  		}

  		.center {
			margin: 5px 0 25px 0;

			.type {
				display: block;
  				color: #888;
  				font-size: 0.9em;
			}

			.name {
				display: block;
  				font-size: 1.2em;
  				margin: 0 0 5px;
			}

			.icons {

				span {
					margin: 5px 10px 0 0;
					width: 30px;
					height: 25px;
					background: url("../img/sprite.png") no-repeat;
					padding: 0 0 0 24px;
					line-height: 22px;
					color: #555;
					font-size: 14px;
				}

				.kraftstoff {
					background-position: 2px 2px;
				}

				.haftung {
					background-position: 2px -38px;
				}

				.lautstaerke {
					background-position: 2px -79px;
				}
			}
  		}

  		.right {
  			margin: 25px 0 0 0;
  			label {
  				margin: 0 2px 0 0;
  			}
  			.menge {
				border: 1px solid #aaa;
				padding: 2px 5px;
				font-size: 1em;
				text-align: center;
				width: 60px;
				height: 30px;
			}
			.price {
				display: block;
				font-size: 2em;
				color: #ff8503;
				margin: 0px 0 30px;
				@include breakpoint(tablet) {
					float: right;
    				margin: 0px 0 30px;
				}
			}
			.in-basket {
				text-align: center;
				cursor: pointer;
				display: block;
				padding: 6px 15px;
				background: #ff8503;
				color: #fff;
				border: 0 none;
				font-size: 1em;
				margin: 10px 0;
				@include breakpoint(tablet) {
					margin: 0;
    				float: right;
				}
				&:hover {
					background: #ff992c;
					text-decoration: none;
				}
			}
  		}

	}
}